<header>
    <nav class="navbar navbar-dark navbar-expand-lg" style="background-color: #8B8B8B">
      <div class="w-100">
        <div class="d-flex justify-content-between p-2 col-lg-12">
          <div class="logo">
            <a class="navbar" routerLink="/home">
              <img
                class="logoHeader img-responsive"
                src="./assets/img/logo.png"
                alt="Logo vinyl"
                height="60"
              />
            </a>

        </div>

        <h1 class="title mt-4 mx-auto"> Jcollection </h1>
        <button
            class="navbar-toggler d-block d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="whiteBar pb-4"></div>
  
        <div class="container p-0">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex w-100 justify-content-between">
              <li class="nav-item active d-md-flex">
                <a
                  class="nav-link"
                  routerLink="/home"
                  data-bs-toggle="collapse"
                  data-bs-target=".navbar-collapse.show"
                >
                <img src="./assets/img/iconHome.png"class="d-lg-none" alt="home button" height="25">
                Accueil </a>
              </li>
              <li class="nav-item d-flex">
                <a
                  class="nav-link"
                  routerLink="/vinyls"
                  data-bs-toggle="collapse"
                  data-bs-target=".navbar-collapse.show"
                  ><img src="./assets/img/iconVinyl.png"class="d-lg-none" alt="vinyl button" height="25"> Vinyls</a
                >
              </li>
              <li class="nav-item d-flex">
                <a
                  class="nav-link"
                  routerLink="/cds"
                  data-bs-toggle="collapse"
                  data-bs-target=".navbar-collapse.show"
                  ><img src="./assets/img/iconCd.png"class="d-lg-none" alt="cd button" height="25"> CD</a
                >
              </li>
              <li class="nav-item active d-md-flex">
                <a
                  class="nav-link"
                  routerLink="/dvds"
                  data-bs-toggle="collapse"
                  data-bs-target=".navbar-collapse.show"
                >
                <img src="/assets/img/iconDvd.png"class="d-lg-none" alt="dvd button" height="25">
                DVD</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
  
