<div class="container">
  <div class="d-flex mt-3">
    <img src="./assets/img/vinyl.jpg" alt="vinyl cover" />
    <div class="d-flex flex-column artistInfo mt-3">
      <h1 class="artist">Frank Ocean</h1>
      <h2 class="title">Blond</h2>
    </div>
  </div>
  <div class="row albumInfo mt-3">
    <p>Genre : Hip-Hop/ Funk</p>
    <p>Année de parution:  2016</p>
  </div>
  <div class=" d-flex justify-content-end mt-3 buttons">
      <button>Modifier</button>
      <button>Supprimer</button>

  </div>
</div>
