
<h1>Creation</h1>

<form [formGroup]="modifyForm" class="container d-flex flex-column">
  <div class="form mx-auto">
    <div class="col-12 mb-2 mt-3">
      <label for="artist"> Artiste </label>
      <div>
        <input
          type="text"
          name="artist"
          formControlName="artist"
          class="artist form-control"
        />
        
      </div>
      <div class="col-12 mb-2 mt-3">
        <label for="titre"> Titre </label>
      </div>
      <div>
        <input type="text" name="title" formControlName="title" class="title form-control" />
      </div>
      

      <div class="col-12 mb-2 mt-3">
        <label for="genre"> Genre </label>
      </div>

      <input type="text" name="genre" formControlName="genre" class="genre form-control" />

      <div class="col-12 mb-2 mt-3">
        <label for="type"> Type </label>
      </div>
      <input type="text" name="type" formControlName="type" class="genre form-control" placeholder="vinyl, cd ou dvd" />
  
      <div class="col-12 mb-2 mt-3">
        <label for="publicationDate"> Date de publication </label>
      </div>
      <input
        type="text"
        name="publicationDate"
        formControlName="publicationDate"
        class=" form-control publicationDate mb-4"
      />
    </div>
    <div>
      <div class="col-12 mb-2 mt-3">
        <label for="description"> Description</label>
      </div>
      <input
        type="text"
        name="description"
        formControlName="description"
        class=" form-control description mb-4"
      />
    </div>
  </div>
</form>

<div class="footer d-flex justify-content-center">
  <button class="saveBtn" (click)="addMedia()">Enregistrer</button>
</div>
